#section_nav {
    /* section_nav navigation fixed */
    position: sticky;
    top: 60px;
  }
  #subnav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
  }
  #subnav-1 {
    display: none;
  }
  .subnav_article {
    display: flex;
    justify-content: space-around;
  }
  .subnav_article > div {
    background-color: aquamarine;
  }
  .subnav_article-1, .subnav_article-2, .subnav_article-3, .subnav_article-4, .subnav_article-5, .subnav_article-6 {
    display: none;
  }

  @media(max-width: 1070px){
    #subnav {
    display: none;
    list-style-type: none;
    }
    #subnav-1 {
        display: inline-block;
        list-style-type: none;
      }
  }